<!-- <div class="textCenter">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a routerLink="/parent"> Parent</a>
  <a routerLink="/child"> Child</a>
  <button type="button" class="btn btn-primary" routerLink="/">Bootstrap Home  </button>
  <button mat-raised-button color="primary"> Material Button</button>
</div> -->
<!-- <app-parent [parent] = "y"></app-parent> -->

<mat-toolbar color="primary" class="navbar">
  <div>
    Shubham's App
  </div>
  <div>
    <span routerLink="/">Home</span>
    <span routerLink="/child">Child Component</span>
    <span routerLink="/parent">Parent Component</span>
  </div>

</mat-toolbar>

<mat-button-toggle #toggleButton checked diableRipple disabled>Toggle</mat-button-toggle>
{{toggleButton.checked}}

<router-outlet></router-outlet>